@model UserProfileViewModel;

@{
    ViewBag.Title = Constants.AppNameUpperCase;
    ViewBag.PageType = "Профиль";
}

<div class="m-1 p-1 badge">
    <h4 class="p-1 m-1">Информация о пользователе</h4>
    <table class="table table-striped table-bordered m-2 p-2">
        <tr>
            <td><h6>@Html.LabelFor(x => x.Name)</h6></td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td><h6>@Html.LabelFor(x => x.City)</h6></td>
            <td>@Model.City</td>
        </tr>
        <tr>
            <td><h6>@Html.LabelFor(x => x.Email)</h6></td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td><h6>@Html.LabelFor(x => x.PhoneNumber)</h6></td>
            <td>@Model.PhoneNumber</td>
        </tr>
        @{
            if (Model.UserType != UserType.None)
            {
                <tr>
                    <td><h6>@Html.LabelFor(x => x.UserType)</h6></td>
                    <td>@Html.Display(nameof(Model.UserType))</td>
                </tr>
            }
        }
    </table>

    <div class="p-1 m-1 ">
        <a class="btn btn-info container-fluid" asp-controller="Consumer" asp-action="ManageAppointments">Управление записями</a>
    </div>

    @{
        if (Model.UserType == UserType.Producer)
        {
            <div class="p-1 m-1 ">
                <a class="btn btn-info container-fluid" asp-controller="Producer" asp-action="ManageAppointments">Управление расписанием работы</a>
            </div>
            <div class="p-1 m-1 ">
                <a class="btn btn-info container-fluid" asp-controller="Producer" asp-action="ManageAddresses">Управление адресами</a>
            </div>
        }
    }

    <div class="p-1 m-1">
        <a class="btn btn-secondary" asp-controller="Account" asp-action="Logout"><p2>Выйти</p2></a>
    </div>
</div>

