@model BookAppointmentViewModel

@{
    ViewBag.Title = Constants.AppNameUpperCase;
    ViewBag.PageType = "BOOK PAGE";
}

<h2 class="p-2">Выберите дату записи на услугу: "@Model.ServiceName"</h2>

<div class="m-1 p-1 d-inline-block ">
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var week in Model.Dates)
            {
                <tr>
                    @foreach (var day in week)
                    {
                        <td class="text-center p-2">
                            @if (day != null && day.Date.Date >= DateTime.Now.Date)
                            {
                                if (day.IsEnabled)
                                {
                                    <form asp-controller="Consumer" asp-action="ChooseTime">
                                        <input type="hidden" name="chosenDate" value="@day.Date" />
                                        <input type="hidden" name="serviceId" value="@Model.ServiceId" />
                                        <button type="submit" class="btn btn-success">
                                            @day.Date.ToShortDateString()
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <button class="btn btn-secondary">
                                        @day.Date.ToShortDateString()
                                    </button>
                                }
                            }
                            else
                            {

                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>